.body {
    margin: 0;
}

.gridGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gridCard {
    padding: 10px;
}

.btnRemove {
    margin-right: 20px;
}

.headCart {
    width: 100%;
    background-color: rgb(213, 190, 143);
    border-radius: 10px;
    padding: 5px;
}

.box {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    margin-top: 10px;
}

.listCart {
    height: 300px;
    background-color: rgb(215, 230, 171);
    padding: 5px;
    overflow-y: scroll;
    border: 1px solid rgb(168, 168, 168);
}

.checkout {
    padding: 20px;
    text-align: center;
}

.titleCheckout {
    text-align: center;
}

.headTitle {
    height: 40px;
    margin: 0;
    padding: 0;
}

.headList {
    display: flex;
    display: inline-flex;
    justify-content: space-between;
    height: 22px;
    width: 100%;
    background-color: rgb(213, 190, 143);
    border-radius: 10px;
    padding: 5px;
    -webkit-box-shadow: 3px 4px 3px 0px rgba(186, 179, 186, 0.62);
    -moz-box-shadow: 3px 4px 3px 0px rgba(186, 179, 186, 0.62);
    box-shadow: 3px 4px 3px 0px rgba(186, 179, 186, 0.62);
}

.headBadge {
    flex-direction: row-reverse;
    cursor: pointer;
}

.numGallery {
    font-size: 20px;
}

.titleTicket {
    font-size: 20px;
}

.headCart {
    text-align: center;
}

.gridTable {
    margin: 0;
    padding: 0;
}

.imageRow {
    width: 100px;
}

.tableRow {
    width: 300px;
}

.buttonBuy {
    padding: 50px;
    text-align: right;
}