:root {
    --color-header-text: #0770e3;
    --color-header-bg: #fff;
    --color-body-bg: #f1f2f8;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-body-bg);
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}