.datosOrg {
    padding-left: 15px;
}

.gridList {
    margin-top: 0px;
}

.gridOrg {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.avatar-list {
    width: 50px;
}

.containerSearch {
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 30px;
}

li {
    display: flex;
}

.whiteButton {
    color: white;
    background-color: #fff;
}

.search {
    width: 120px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 15px;
    width: 300px;
}

.imagen-org {
    width: 180px;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 15px;
}

.globalGrid {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.headGridMembers {
    text-align: center;
}

.gridImagen {
    padding-top: 20px;
    padding-left: 130px;
}