:root {
    --color-header-text: #0770e3;
    --color-header-bg: #fff;
    --color-body-bg: #f1f2f8;
}

body {
    padding: 20px;
    margin: 0;
    background-color: var(--color-body-bg);
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

div img {
    width: 110px;
}

.imagen-login {
    padding: 80px;
}

.datosOrg {
    padding-left: 15px;
}

.gridList {
    margin-top: 30px;
}

.avatar-list {
    width: 50px;
}

li {
    display: flex;
}

.whiteButton {
    color: white;
    background-color: #fff;
}

.search {
    width: 70%;
}

.sombra-img {
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 15px;
}

.imagen-org {
    width: 100%;
}

.layout-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.app-Layout-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    padding-top: 20px;
}